@font-face {
  font-family: "Butler";
  src: url("fonts/Butler.woff2") format("woff2");
}
body {
  font-family: "Butler";
  height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  background-color: #ffff;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}

.logo {
  font-weight: 200;
  font-style: normal;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 700px;
  list-style: none;
}

.divider {
  width: 500px;
  height: 20px;
  background-color: #e61a1a;
}

h1.heading {
  font-size: 4.5em;
  font-weight: lighter;
  text-transform: uppercase;
}

p.summary {
  font-size: 1.2em;
  line-height: 1.42857;
  font-weight: lighter;
  font-style: italic;
}

li {
  font-size: 0.8em;
  font-weight: lighter;
}

.socials {
  display: flex;
  justify-content: space-around;
  width: 200px;
  list-style: none;
}
//Introduction
.intro {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  height: 120vh;
  padding: 0 200px 0 200px;
}
//Main Section
.grid {
  display: grid;
  grid-template-rows:1fr 1fr 1fr;
  height: 240vh;
  width: auto;
  padding: 0 100px 0 100px;
}

.service{
  display: grid;
  grid-template-rows: 1fr 30%;  
}

.exerpt {
  width: 50%;
}
.offset {
  justify-items: end;
  text-align: right;
}

h1.title {
  font-family: "Butler";
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 92.6px 0 0 0;
  margin: 0;
}


p.exerpt {
  font-family: "Butler";
  font-style: italic;
  font-size: 1.2em;
}






.reel {
  height: 90vh;
}

.grid-quote {
  width: 80%;
  height: 70vh;
}

.quotelink {
  padding: 200px;
  background-color: burlywood;
  text-align: center;
}

.quotelink {
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
  font-size: 4rem;
  text-transform: uppercase;
}